.footer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5.38rem 7.5rem 5.38rem 7.5rem;

    background-color: #fff;
    color: #000;
    width: 100%;
    height: 25.6875rem;
    font-size: 2rem;
    font-weight: 500;
}