.check {
  display: flex;
  flex-direction: column;
  width: 29rem;
  height: 18.6875rem;

  background: rgba(31, 43, 48, 0.5);
  border: 1px solid #282828;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  height: 2.5rem;
  padding: 1rem 1.44rem 1rem 1.44rem;
  background: #191d25;
}

.checkInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2.38rem;
}

.checkInfo h1 {
  font-size: 1.25rem;
  font-weight: 400;

  background: linear-gradient(
    135deg,
    #ffcf23 0%,
    #ff6eb4 50.53%,
    #45b9b0 97.92%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.checkInfo span {
  font-size: 1.25rem;
  font-weight: 700;
  background: #FF0000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.progress {
  width: 26rem;
  height: 1.75rem;
  border-radius: 6.25rem;
  border: 0.5px solid #17191e;
  background: #17191e;

  margin-top: 3rem;
  margin-bottom: 1.125rem;
  margin-left: auto;
  margin-right: auto;
}

.progressInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
  width: 1%;
  height: 1.75rem;
  border-radius: 6.25rem;
  border: 0.5px solid #17191e;
  background: linear-gradient(
    135deg,
    #ffcf23 0%,
    #ff6eb4 50.53%,
    #45b9b0 97.92%
  );
}

.check button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 13.5rem;
  height: 2.625rem;
  padding: 0.8125rem 1.5rem;
  margin-left: auto;
  margin-right: auto;

  border-radius: 6.25rem;
  background: linear-gradient(164deg, #FFCF23 0%, #FF6EB4 50.53%, #45B9B0 97.92%);

  font-weight: 500;
}

.check p {
  color: #A6A0BB;
  text-align: center;
font-size: 0.625rem;
font-weight: 400;
line-height: 0.87513rem;
margin-top: 1.94rem;
}